<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" placeholder="name of event" />
    <br />
    <input name="description" type="text" placeholder="description of event"/>
    <input type="submit" value="Add Event" />
</form>